root {
    --floating-btn-animation: "steam 20s linear infinite";
    --open-filelist-animation: "changeColor 5s infinite alternate,glowingEffect 2s infinite alternate";
}

.open-file-list {
    box-shadow: 0 3px 5px #1e1e2e;
}

.open-file-list li.tile.active {
    border-top: 2px solid #9700be;
    border-image: linear-gradient(45deg, #ec89cb, #9700be, #ec89cb, #9700be) 1;
    border-image-slice: 1;
    animation: var(--open-filelist-animation);
}

@keyframes changeColor {
    0% {
        border-image: linear-gradient(to right, #f60055, #9f6) 1;
    }
    50% {
        border-image: linear-gradient(to right, #9700be, #ec89cb) 1;
    }
    100% {
        border-image: linear-gradient(to right, #f60, #f96) 1;
    }
}
@keyframes glowingEffect {
    0%,
    100% {
        box-shadow: 0 0 10px #9700be;
    }
    50% {
        box-shadow: 0 0 20px #9700be;
    }
}

/*****
Floating icon
*****/
span#quicktools-toggler {
    .no_animation {
        border-image: linear-gradient(45deg, #ec89cb, #9700be, #ec89cb, #9700be)
            1;
        border-image-slice: 1;
        border-radius: 50%;
    }
    &:before {
        background-color: var(--primary-color);
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;
        border-radius: inherit;
    }
    &:after {
        content: "";
        position: absolute;
        inset: -4px !important;
        background: linear-gradient(
            45deg,
            #ec89cb,
            blue,
            #9700be,
            #f60055,
            #ec89cb,
            blue,
            #9700be,
            #f60055
        );
        z-index: -1;
        border-radius: inherit;
        background-size: 400%;
        filter: blur(10px);
        animation: var(--floating-btn-animation);
    }
}
@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/*****************
 Sidebar styles
*****************/
.plasma-container {
    padding: 0 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .input-box {
        display: flex;
        align-items: center;
        height: 40px;
        margin-bottom: 15px;
        #image-url {
            padding: 5px;
            flex-grow: 1;
            height: 100%;
            border: 1px solid;
        }
        #open-image-btn {
            background-color: var(--popup-border-color);
            color: var(--primary-text-color);
            border: 1px solid var(--border-color);
            padding: 5px 10px;
            border-radius: 3px;
            margin-left: 3px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: border 0.3s ease;
            height: 100%;
            &:hover {
                border: 1px dashed var(--border-color);
            }
        }
    }
    .blur-box {
        display: flex;
        flex-direction: column;
        height: 40px;
        margin-bottom: 15px;
        .blur-input-lbl {
            font-size: 13px;
            color: var(--primary-text-color);
            margin-bottom: 5px;
            text-align: left;
        }
        #blur-value {
            padding: 5px;
            height: 100%;
            width: 100%;
            outline: none;
            transition: 0.3s;
            border: 1px solid;
            font-size: 16px;
        }
    }
    .transparency-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: 10px;
        width: 100%;
        height: 50px;
        .transparency-input-lbl{
            font-size: 13px;
            margin-bottom: 5px;
            text-align: left;
        }
        #transparency-value{
            width: 100%;
            height: 10px;
            border-radius: 5px;
        }
        .transparency-value-lbl{
            font-size: 10px;
        }
    }
    #remove-image-btn {
        background-color: var(--error-text-color);
        color: var(--primary-text-color);
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}
