/****
Folder icons
****/

.icon.folder:before {
    display: inline-block;
    content: "";
    background-image: url("https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.sweet/folder_dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.list.collapsible.hidden .tile .icon.folder:before {
    display: inline-block;
    content: "";
    color: transparent;
    background-image: url("https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.sweet/folder_dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.list.collapsible .tile .icon.folder:before {
    display: inline-block;
    content: "";
    background-image: url("https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.sweet/folder-open_dark.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}
.context-menu .folder:before {
    content: "\e92a";
    background: transparent;
}
.file_type_image:before {
    display: inline-block;
    content: "";
    background-image: url("https://localhost/__cdvfile_files-external__/plugins/bajrangcoder.sweet/image_light.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1em;
    width: 1em;
}